{% extends "layout.html" %}
{% block nav_bar_block %}
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class='float-left' src="{{ url_for('static', filename='assets/logo.png') }}" alt="" />
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">主页</a></li>
          <li><a href="{{ url_for('.faq') }}">常见问题</a></li>
          <li class='active'><a href="{{ url_for('.about') }}">关于</a></li>
          <li>
            <a id="embed-link" data-toggle="modal" data-target="#modal" type="button" href="#model">
              <i class="fa fa-external-link"></i> 嵌入
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
{% endblock %}

{% block main %}
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">复制</h4>
        </div>
        <div class="modal-body">
          <p>将下面内容复制到您的网页中</p>

          <input type="text" class="form-control" id="copy-input"/>
        </div>
      </div>
    </div>
  </div>
  

  <div class="row text-center">
    <div class="col-md-10 text-center col-md-offset-1">
      <img src="{{ url_for('static', filename='assets/molo.png') }}" alt="" class='center=block' style="max-width: 60%"/>
      <div class="row">
        <div class='col-md-8 col-md-offset-2'>
          <h1>
        欢迎使用MoLoCloud的云服务安全监控安全SaaS服务系统!
        我们的系统目前在Beta初步测试中, 希望您能提出宝贵的反馈意见. 
          </h1>
        </div>
      </div>

      <p>
        <i>
        MOLOCloud研发组
        </i>
      </p>
      <p>
        <i>
        Email: <a href="mailto://huailin@gmail.com">huailin@gmail.com</a>
        </i>
      </p>
    </div>
  </div>

  <hr/>

  <footer class="footer visible-md visible-lg">
    <div class="container">
      copyright by 公有云监控@2014
    </div>
  </footer>
{% endblock %}

