{% extends "layout.html" %}
{% block head_block %}
  {{ super() }}
  {% if config.DEBUG %}
  <!--[if lte IE 8]>
    <script type="text/javascript" src="{{ url_for('static', filename='components/flot/excanvas.min.js') }}"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
  {% else %}
    <!--[if lte IE 8]>
      <script type="text/javascript" src="{{ url_for('static', filename='dist/components/flot/excanvas.min.js') }}"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/index.css') }}"/>
  {% endif %}
  <link rel="stylesheet" href="//cdn.staticfile.org/toastr.js/latest/css/toastr.min.css"/>
{% endblock %}
{% block main %}
  <div class="container-fluid">

    <div id="main">
      <div class="row">
        <div name="display col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <ul class="view-switcher nav nav-pills nav-stacked pull-left text-center">
              <li class="map-li"><a href="#map">地图</a></li>
              <li class="table-li"><a href="#table">列表</a></li>
              <li class="stat-li"><a href="#stat">统计</a></li>
            </ul>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="map"></div>
            <div class="table-view"></div>
            <div class="stat" style='display: none'></div>
            <div class="timeline">
              <div class='mask text-center'>
                <i class="fa fa-spinner fa-spin fa-4x" style='vertical-align: middle'></i>
              </div>
            </div>
          </div>
        </div>
        <div class="control-panel col-lg-2 col-md-2 col-sm-2 col-xs-2 text-cener">
          <div class='mask text-center'>
            <i class="fa fa-spinner fa-spin fa-4x" style='vertical-align: middle'></i>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container -->
{% endblock %}

{% block tail_block %}
  {{ super() }}
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=SwpHSZo7lxB794VNXA9U2d5q"></script>
  {% if config.DEBUG %}
    <script type="text/javascript" data-main="{{ url_for('static', filename='js/main.js', bust=time) }}" src="{{ url_for('static', filename='components/requirejs/require.js') }}"></script>
  {% else %}
    <script type="text/javascript" data-main="{{ url_for('static', filename='dist/js/main.js', bust=time) }}" src="{{ url_for('static', filename='dist/components/requirejs/require.js') }}"></script>
  {% endif %}
{% endblock %}

