{% extends "layout.html" %}
{% block head_block %}
  {{ super() }}
  {% if config.DEBUG %}
  <!--[if lte IE 8]>
    <script type="text/javascript" src="{{ url_for('static', filename='components/flot/excanvas.min.js') }}"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/offcanvas.css') }}"/>-->
  {% else %}
    <!--[if lte IE 8]>
      <script type="text/javascript" src="{{ url_for('static', filename='dist/components/flot/excanvas.min.js') }}"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/index.css') }}"/>
  {% endif %}
  <link rel="stylesheet" href="//cdn.staticfile.org/toastr.js/latest/css/toastr.min.css"/>
  <style type="text/css">
    {% if embeded %}
    .control-panel .clouds-list {
      display: none !important;
    }
    {% endif %}
  </style>
{% endblock %}
{% block main %}
  <div class="container-fluid">

    <div id="main">
      
      {% if not embeded %}
      <ul class="nav nav-tabs visible-xs visible-sm">
        <li class="map-li"><a href="#map">地图</a></li>
        <li class="table-li"><a href="#table">列表</a></li>
        <li class="stat-li"><a href="#stat">统计</a></li>
      </ul>
      {% endif %}
      <div class="row row-offcanvas row-offcanvas-right">
        <div name="display" class='col-sm-12 col-xs-12 col-md-10'>
          {% if not embeded %}
          <div class="col-md-1 visible-md visible-lg">
            <ul class="view-switcher nav nav-pills nav-stacked pull-left text-center">
              <li class="map-li"><a href="#map">地图</a></li>
              <li class="table-li"><a href="#table">列表</a></li>
              <li class="stat-li"><a href="#stat">统计</a></li>
            </ul>
          </div>
          {% endif %}

          <div class={%if embeded%}"col-xs-12 col-sm-12"{% else %}"col-xs-12 col-sm-12 col-md-11"{% endif %}>
            <!--<span class="pull-right visible-sm visible-xs">-->
              <!--<button type="button" class="pull-right btn btn-primary btn-xs" data-toggle="offcanvas">-->
                <!--<i class="fa fa-cog"></i>-->
              <!--</button>-->
            <!--</span>-->
            <div class="map"></div>
            <div class="table-view"></div>
            <div class="stat" style='display: none'></div>
            <div class="timeline">
              <div class='mask text-center'>
                <i class="fa fa-spinner fa-spin fa-4x" style='vertical-align: middle'></i>
              </div>
            </div>
          </div>
        </div>

        <div class="control-panel col-md-2 text-cener col-xs-8">
          <div class='mask text-center'>
            <i class="fa fa-spinner fa-spin fa-4x" style='vertical-align: middle'></i>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container -->
{% endblock %}

{% block tail_block %}
  {{ super() }}
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=SwpHSZo7lxB794VNXA9U2d5q"></script>
  {% if config.DEBUG %}
    <script type="text/javascript" data-main="{{ url_for('static', filename='js/main.js', bust=time) }}" src="{{ url_for('static', filename='components/requirejs/require.js') }}"></script>
  {% else %}
    <script type="text/javascript" data-main="{{ url_for('static', filename='dist/js/main.js', bust=time) }}" src="{{ url_for('static', filename='dist/components/requirejs/require.js') }}"></script>
  {% endif %}
{% endblock %}

