{% extends "layout.html" %}
{% block head_block %}
  {{ super() }}
    <!--[if lte IE 8]>
    <script type="text/javascript" src="{{ url_for('static', filename='components/flot/excanvas.min.js') }}"></script>
    <![endif]-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}
{% block main %}
<div class="container">

  <div id="main">
    <div class="row">
      <div class="map col-lg-6 col-lg-offset-2"></div>
      <div class="control-panel col-lg-3 col-lg-offset-1"></div>
    </div>
    <div class="row">
      <div class="timeline"></div>
    </div>
  </div>

  <!--<div class="row">-->
    <!--<div class="btn-group-vertical pull-left">-->
      <!--<button class="btn btn-default mode-btn">日</button>-->
      <!--<button class="btn btn-default backward-btn"><i class="fa fa-backward"></i></button>-->
      <!--<button class="btn btn-default play-btn"><i class="fa fa-play"></i></button>-->
      <!--<button class="btn btn-default forward-btn"><i class="fa fa-forward"></i></button>-->
    <!--</div>-->
    <!--<span class="yaxisLabel">延迟(ms)</span>-->
    <!--<span class="selectedDate"></span>-->
  <!--<div id="timeline"></div>-->
  <!--</div>-->
  <footer class="footer visible-md visible-lg">
    <div class="container">
      <div class="text-muted">
        copyright@公有云监控
      </div>
    </div>
  </footer>
</div><!-- /.container -->
{% endblock %}

{% block tail_block %}
  {{ super() }}
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=SwpHSZo7lxB794VNXA9U2d5q"></script>
  <script type="text/javascript" data-main="{{url_for('static', filename='js/main.js', bust=time)}}" src="{{ url_for('static', filename='components/requirejs/require.js') }}"></script>

{% endblock %}

