/*html {*/
    /*height:100%*/
/*} */

/*body {*/
    /*height:100%;*/
    /*margin:0px; */
    /*padding:0px*/
/*}*/

#map {
    height: 720px;
    width: 100%;
}

.fa-eye {
    color: green;
}

#timeline {
    width: 960px;
    height: 220px;
}
