<div class="modal fade map-help-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">网络延迟图标说明</h3>
      </div>
      <div class="modal-body">
        <!--<ul class="list-unstyled">-->
          <!--<li><b>笑脸<i class="fa fa-smile-o fa-fw"></i></b> - <em>当前网络延迟小于100ms</em></li>-->
          <!--<li><b>哭脸<i class="fa fa-frown-o fa-fw"></i></b> - <em>当前网络延迟大于100ms, 但小于300ms</em></li>-->
          <!--<li><b>禁止符<i class="fa fa-ban fa-fw"></i></b> - <em>当前网络延迟大于500ms</em></li>-->
          <!--<li><b>问号<i class="fa fa-question fa-fw"></i></b> - <em>没有采集到当前网络延迟</em></li>-->
        <!--</ul>-->
        <table class="table table-striped">
          <tr>
            <th><i class="fa fa-smile-o fa-fw"></i></th>
            <td>当前网络延迟小于100ms</td>
          </tr>
          <tr>
            <th><i class="fa fa-frown-o fa-fw"></i></th>
            <td>当前网络延迟大于100ms, 但小于300ms</td>
          </tr>
          <tr>
            <th><i class="fa fa-warning fa-fw"></i></th>
            <td>当前网络延迟大于500ms</td>
          </tr>
          <tr>
            <th><i class="fa fa-question fa-fw"></i></th>
            <td>没有采集到当前网络延迟</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
