<table class="table table-condensed table-bordered">
  <thead>
    <tr>
    	<th>id</th>
    	<th>云服务</th>
    	<th>udp(ms)</th>
    	<th>http(ms)</th>
    	<th>tcp(ms)</th>
    	<th>icmp(ms)</th>
    	<th>评价</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
