{{#each agents}}
  <table class="table table-condensed table-bordered">
    <tr>
      <th>编号</th>
      <td>{{id}}</td>
    </tr>
    <tr>
      <th>云服务商</th>
      <td>{{provider}}</td>
    </tr>
    <tr>
      <th>所在地</th>
      <td>{{location}}</td>
    </tr>
  </table>
{{/each}}