<ul class="nav nav-tabs">
  <li class="active"><a href="#avail" data-toggle="pill">周服务稳定性统计</a></li>
  <li><a href="#avg-latency" data-toggle="pill">日平均延迟统计</a></li>
  <li><a href="#cpu-score" data-toggle="pill">日平均CPU性能统计</a></li>
  <li><a href="#hd-score" data-toggle="pill">日平均磁盘性能统计</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="avail"></div>
  <div class="tab-pane" id="avg-latency"></div>
  <div class="tab-pane" id="cpu-score"></div>
  <div class="tab-pane" id="hd-score"></div>
</div>
