<div class="details-table panel panel-default">
  <div class="panel-heading">
    <h3 class="text-center">{{agent.name}}服务详情表</h3>
  </div>
  <table class="details-table table table-condensed table-striped">
  </table>
</div>
