<div class="details-table panel panel-default">
  <div class="panel-heading">
    <h3 class="text-center" id="cloud-name"></h3>
  </div>
  <table class="details-table table table-condensed table-bordered">
  </table>
</div>
