<div class="btn-group-vertical pull-left">
  <button class="btn btn-default mode-btn">日</button>
  <button class="btn btn-default backward-btn"><i class="fa fa-backward"></i></button>
  <button class="btn btn-default play-btn"><i class="fa fa-play"></i></button>
  <button class="btn btn-default forward-btn"><i class="fa fa-forward"></i></button>
</div>
<span class="yaxislabel">延迟(ms)</span>
<span class="selecteddate"></span>
<div class="timeline-plot"></div>
