<div class='timeline-view panel panel-default'>
    <div class="panel-body" style="vertical-align:middle">    
        <div class="btn-group-vertical pull-left" style="display: inline-block; ">
            <button class="btn btn-default mode-btn">日</button>
            <button class="btn btn-default backward-btn"><i class="fa fa-backward"></i></button>
            <button class="btn btn-default play-btn"><i class="fa fa-play"></i></button>
            <button class="btn btn-default forward-btn"><i class="fa fa-forward"></i></button>
        </div>
        <div class="timeline-plot">
    </div>
</div>
