<div class='timeline-view panel panel-primary'>
  <div class="panel-body text-center">

    <div class="hidden-sm hidden-xs btn-group-vertical pull-left" style="display: inline-block; ">
      <button class="btn btn-default mode-btn">日</button>
      <button class="btn btn-default backward-btn"><i class="fa fa-backward"></i></button>
      <button class="btn btn-default play-btn"><i class="fa fa-play"></i></button>
      <button class="btn btn-default forward-btn"><i class="fa fa-forward"></i></button>
    </div>
    <span class="btn-group visible-xs visible-sm">
      <button class="btn btn-default mode-btn">日</button>
      <button class="btn btn-default backward-btn"><i class="fa fa-backward"></i></button>
      <button class="btn btn-default play-btn"><i class="fa fa-play"></i></button>
      <button class="btn btn-default forward-btn"><i class="fa fa-forward"></i></button>
    </span>
    <div class="timeline-plot">
    </div>
  </div>
</div>
